[defaults]
inventory = ./inventory/hosts.ini
roles_path = ./roles
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
remote_user = <YOUR_SSH_USER>
private_key_file = <YOUR_SSH_KEY_PATH>
bin_ansible_callbacks = True
timeout = 120
forks = 10
interpreter_python = auto_silent

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, amazon.aws.aws_ec2

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=10
